
  {{#each decks as |deck|}}
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <div class="deck">
    <p>ID: </p>: {{deck.id}}
    <p>Name: </p> {{deck.name}}
    <p>User_id: </p> {{deck.user_id}}
    </div>
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
  </div>
</div>
  
  {{/each}}
  

