<div class="login-card">
  <h2 class="page-title">Login</h2>
  <form class="form login-form">
    <div class="form-group">
      <label for="email-login">Email:</label>
      <input class="form-control" type="text" placeholder="fake@example.com" id="email-login" />
    </div>
    <div class="form-group">
      <label for="password-login" class="form-label">Password:</label>
      <input type="password" id="password-login" class="form-control" placeholder="password" aria-describedby="passwordHelpBlock">
      <div id="passwordHelpBlock" class="form-text">
        Your password is at least 8 characters long.
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary mt-3" type="submit">Login</button>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>