<div class="signup-card">
  <h2 class="page-title">Sign Up</h2>
  <form class="form signup-form">
    <div class="form-group">
      <label for="first-name-signup">First Name:</label>
      <input class="form-control" type="text" placeholder="John" id="first-name-signup" />
    </div>
    <div class="form-group">
      <label for="last-name-signup">Last Name:</label>
      <input class="form-control" type="text" placeholder="Doe" id="last-name-signup" />
    </div>
    <div class="form-group">
      <label for="username-signup">Username:</label>
      <input class="form-control" type="text" placeholder="username" id="username-signup" />
    </div>
    <div class="form-group">
      <label for="email-signup">Email:</label>
      <input class="form-control" type="text" placeholder="fake@example.com" id="email-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup" class="form-label">Password:</label>
      <input type="password" id="password-signup" class="form-control" placeholder="password"
        aria-describedby="passwordHelpBlock">
      <div id="passwordHelpBlock" class="form-text">
        Your password must be at least 8 characters long.
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary mt-3" type="submit">Sign Up</button>
    </div>
  </form>
</div>

<script src="/js/signup.js"></script>
